.mainContainer {
  padding: 40px 0 0;
}

.projectTitle > small {
  line-height: 1.5;
}
.promoSection .promoRow .pluginRowBlock .pluginWrapper {
  margin: 0 0.5rem;
}
.button {
  border-radius: 0;
}

.fourByGridBlock img {
  max-height: 3.5rem;
}

article p img.buttonDeploy {
  height: 42px;
  width: auto;
}

sup {
  font-size: 0.75em;
  margin-left: 0.375em;
  line-height: 0;
  vertical-align: 0.375em;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
