/* TODO Replace this CSS hack by a loader. */
textarea {
  background-color: #0a0e14;
  color: #b3b1ad;
  font-family: Consolas;
  font-size: 11.375px;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-top: 0.1875rem;
}

.CodeMirror {
  /* https://codemirror.net/demo/resize.html */
  height: auto;
  flex-grow: 1;
  margin-top: 1rem;
}
